*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

:root {
  --font-normal: 16px;
  --r-border: 0.5em;
  --t-animation: 200ms;
}

body {
  font-size: var(--font-normal);
}

.this {
  border: 1px dashed red;
}
.faded-bg {
  background-color: rgba(253, 149, 149, 0.5);
}
.centered {
  max-width: 1000px;
  margin: 0 auto;
}

.txtCentered {
  text-align: center;
}
.filleted {
  border-radius: var(--r-border);
}
.flex-horizontal {
  display: flex;
  flex-direction: row;
}
.columns {
  column-count: 6;
  column-rule: 1px solid #ccc;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border: 1px dashed blue;
}

.slide-button {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.slide-button label {
  background-color: #d2d2d2;
  width: 3em;
  height: 1.5em;
  border-radius: 0.75em;
  cursor: pointer;
  position: relative;
  transition: var(--t-animation);
}
.slide-button label::before {
  position: absolute;
  content: '';
  background-color: #fff;
  height: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: var(--t-animation);
}
.slide-button input:checked + label {
  background-color: #20096d;
}
.slide-button input:checked + label::before {
  transform: translateX(1.5em);
}
.slide-button input {
  display: none;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.drop-container {
  border: 2px dashed #aaa;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.drop-message {
  font-size: 18px;
  color: #888;
}

.file-item {
  margin: 10px 0;
  font-size: 16px;
} */
